---
import { Icon } from "astro-icon/components";

interface Props {
	href: string;
	subtitle: string;
	info: string;
	technologies: string[];
	class?: string;
}

const {href, subtitle, info, technologies, class: className } = Astro.props;
---

<a href={href}>
	<article class=`mx-8 border-2 border-purple-400 border-opacity-45 rounded-lg ${className} p-3 my-3 transition-all duration-300 hover:-translate-y-1`>
		<h3>{subtitle}</h3>
		<div class="text-slate-500">
			<p>{info}</p>
			<ul class="flex flex-row gap-2 my-1">
				{
					technologies.map((technology) => (
						<li>
							<Icon name={technology} class="text-slate-300 text-xl" />
						</li>
					))
				}
			</ul>
		</div>
	</article>
</a>
<style>
	h3 {
		font-family: "Geist-Regular", sans-serif;
	}
</style>
